@font-face {
	font-family: "Outfit";
	src: url("/assets/fonts/outfit.ttf");
}
:root{
	--white: #ffffff;
	--light-gray: #d6e2f0;
	--grayish-blue: #7b879d;
	--dark-blue: #1f3251;
}

* {
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
	font-family: "Outfit", sans-serif;
	font-weight: 400;
}
p{
	font-size: 15px;
}
body{
	background-color: var(--light-gray);
}